<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Canada Immigration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('index')}}">
            <img width="75" height="50" src="{{ url_for('static', filename='images/Canada.png')}}" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index')}}">Home</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('about')}}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('data')}}">Data</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container mt-5">
        <h1 class="text-center"> Canada Immigration Data</h1>

        <p class="p-about">The immigration to Canada dataset available on Kaggle typically contains information about immigrants arriving in Canada over several years. The dataset provides details about immigrants coming to Canada from various countries over multiple years. It usually includes information such as the country of origin, continent, region, and the number of immigrants who arrived in Canada annually from 1980 to a recent year (usually 2013 or later, depending on the dataset).</p>

        <div>
            <h2>Dataset link : </h2>
            <a href="https://www.kaggle.com/datasets/ammaraahmad/immigration-to-canada" class="button">Canada Immigration</a>
        </div>

        <table class="table">
            <thead>
              <tr>
                <th>Variable</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Country</td>
                    <td>The country of origin of immigrants.</td>
                </tr>
                <tr>
                    <td>Continent</td>
                    <td>The continent to which the country belongs.</td>
                </tr>
                <tr>
                    <td>Region</td>
                    <td>Specific region within the country of origin.</td>
                </tr>
                <tr>
                    <td>DevName</td>
                    <td>Development status of the country (e.g., Developed, Developing).</td>
                </tr>
                <tr>
                    <td>1980 to 2013</td>
                    <td>Number of immigrants from the specified country in each respective year from 1980 to 2013.</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>Cumulative total of immigrants from the specified country for the entire period (1980 to 2013).</td>
                </tr>
          </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>